/*Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Start Container*/
.header{
    margin-bottom: 20px;
}
.header .container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.container .logo{
    position: absolute;
    left: 250px;
}
.container .logo img{
    width: 60px;
}
.container .link{
    position: absolute;
    right: 250px;
    width: 0px;
}
.container .link .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    transform: rotate(180deg);
}
.container .link .icon span{
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
}
.container .link .icon span:nth-child(2){
    width: 70%;
    transition: 0.3s;
}
.container .link .icon span:not(:nth-child(2)){
    width: 100%;
}
.header .link:hover .icon span:nth-child(2){
    width: 100%;
}
.container .link ul{
    background-color: #f6f6f6;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    margin-top: 25px;
    position: relative;
    left: -170px;
    display: none;
}
.container .link ul::before{
    content: "";
    width: 0;
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #f6f6f6;
    right: 0;
    top: -42px;
}
.container .link:hover ul{
    content: "";
    display: block;
    z-index: 1;
}
.container .link ul li:hover a{
    content: "";
    font-weight: 600;
    padding-left: 20px;
    font-size: 20px;
}
.container .link ul li{
    padding: 20px 80px 10px 30px;
}
.container .link ul li:not(:last-child){
    border-bottom: 2px solid #878585;
}
.container .link ul li a{
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}
/*End Container*/

/*Start Media Query*/

/*Small*/
@media (min-width: 0px){
    .container{
        width: 290px;
    }
}
@media (min-width: 400px){
    .container{
        width: 370px;
    }
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*End Global Rules*/

/*Start Landing*/
.landing{
    background-image: url(../images/85838144-black-and-white-mountain-in-switzerland.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}
.landing .text{
    position: absolute;
    text-align: center;
    width: 400px;
    left: 50%;
    transform: translate(-50%, -120%);
    top: 50%;
}
.landing .text h1{
    font-size: 50px;
    font-weight: 800;
    color: #10cab7;
    margin-bottom: 0;
}
.landing .text p{
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
/*End Landing*/

/*Start features*/
.features{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container .con{
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3 , 1fr);
}
.features .container .con span{
    text-align: center;
}
.features .container .con span .text hr{
    width: 80%;
}
.features .container .con span i{
    color: #10cab7;
    font-size: 30px;
}
.features .container .con span .text h3{
    font-size: 20px;
    font-weight: 800;
}
.features .container .con span .text p{
    color: #878585;
    line-height: 1.6;
}
@media (min-width: 0px){
    .features .container .con{
        grid-template-columns: 1fr;
    }
    .features .container .con span:not(:last-of-type){
        margin-bottom: 30px;
    }
}
@media (min-width: 768px){
    .features .container .con{
        grid-template-columns: repeat(2,1fr);
    }
    .features .container .con span:last-of-type{
        transform: translateX(50%);
    }
}
@media (min-width: 992px){
    .features .container .con{
        grid-template-columns: repeat(3,1fr);
    }
    
    .features .container .con span:last-of-type{
        transform: translateX(0%);
    }
}
/*End features*/

/*Start services*/
.container .text-cont{
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
.container .text-cont h2{
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    color: #ebeceb;
}
.container .text-cont p{
    font-size: 20px;
    font-weight: 400;
    margin: -35px;
}
.services .container .cont{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 70%;
    margin-left: 70px;
    margin-right: auto;
}
.services .container .cont .image{
    position: relative;
}
.services .container .cont .image img{
    width: 300px;
    position: absolute;
    top: -150px;
    z-index: 2;
}
.services .container .cont .image::after{
    content: "";
    position: absolute;
    background-color: #2c4755;
    width: 100px;
    height: 200%;
    right: -350px;
    top: -200px;
}
.services .container .cont .image::before{
    content: "";
    position: absolute;
    background-color: #ebeceb;
    width: 300px;
    height: 300px;
    top: -170px;
    left: -20px;
    border-bottom: 20px solid #ebeceb;
    border-top: 20px solid #ebeceb;
    border-left: 20px solid #ebeceb;
}
.services .container .cont .ser-one,
.services .container .cont .ser-two,
.services .container .cont .ser-three,
.services .container .cont .ser-four{
    width: 40%;
    margin: 20px 70px 0 0;
    position: relative;
}
.services .container .cont .ser-one i,
.services .container .cont .ser-two i,
.services .container .cont .ser-three i,
.services .container .cont .ser-four i{
    position: absolute;
    left: -60px;
    top: 20px;
    color: #10cab7;
}
.services .container .cont .ser-one h3,
.services .container .cont .ser-two h3,
.services .container .cont .ser-three h3,
.services .container .cont .ser-four h3{
    font-weight: 800;
    font-size: 20px;
}
.services .container .cont .ser-one p,
.services .container .cont .ser-two p,
.services .container .cont .ser-three p,
.services .container .cont .ser-four p{
    color: #878585;
    line-height: 1.6;
}
@media (min-width: 0px){
    .services .container .cont .image{
        display: none;
    }
    .services .container .cont{
        width: 100%;
    }
    .services .container .cont .ser-one i,
    .services .container .cont .ser-two i,
    .services .container .cont .ser-three i,
    .services .container .cont .ser-four i{
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        color: #10cab7;
        position: relative;
    }
    .services .container .cont .ser-one h3,
    .services .container .cont .ser-two h3,
    .services .container .cont .ser-three h3,
    .services .container .cont .ser-four h3{
        font-weight: 800;
        font-size: 17px;
        text-align: center;
    }
    .services .container .cont .ser-one p,
    .services .container .cont .ser-two p,
    .services .container .cont .ser-three p,
    .services .container .cont .ser-four p{
        line-height: 1.2;
        text-align: center;
    }
}   
@media (min-width: 768px){
    .services .container .cont .image{
        display: none;
    }
    .services .container .cont{
        width: 100%;
    }
    .services .container .cont .ser-one i,
    .services .container .cont .ser-two i,
    .services .container .cont .ser-three i,
    .services .container .cont .ser-four i{
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
        color: #10cab7;
        position: relative;
    }
    .services .container .cont .ser-one h3,
    .services .container .cont .ser-two h3,
    .services .container .cont .ser-three h3,
    .services .container .cont .ser-four h3{
        font-weight: 800;
        font-size: 20px;
        text-align: center;
    }
    .services .container .cont .ser-one p,
    .services .container .cont .ser-two p,
    .services .container .cont .ser-three p,
    .services .container .cont .ser-four p{
        line-height: 1.4;
        text-align: center;
    }
}
@media (min-width: 1200px){
    .services .container .cont .image{
        display: block;
    }
    .services .container .cont{
        width: 70%;
    }
    .services .container .cont .ser-one i,
    .services .container .cont .ser-two i,
    .services .container .cont .ser-three i,
    .services .container .cont .ser-four i{
        position: absolute;
        left: -60px;
        top: 20px;
        color: #10cab7;
    }
    .services .container .cont .ser-one h3,
    .services .container .cont .ser-two h3,
    .services .container .cont .ser-three h3,
    .services .container .cont .ser-four h3{
        font-weight: 800;
        font-size: 20px;
        text-align: left;
    }
    .services .container .cont .ser-one p,
    .services .container .cont .ser-two p,
    .services .container .cont .ser-three p,
    .services .container .cont .ser-four p{
        line-height: 1.6;
        text-align: left;
    }
}
/*End services*/

/*Start portfolio*/
.portfolio{
    background-color: #f6f6f6;
    margin-top: 80px;
}
.portfolio .container .con-por span img{
    width: 340px;
}
.portfolio .container .con-por{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.portfolio .container .con-por span{
    background-color: white;
}
.portfolio .container .con-por span:first-of-type{
    margin-right: 40px;
}
.portfolio .container .con-por span:last-of-type{
    margin-left: 40px;
}
.portfolio .container .con-por span .text{
    margin-left: 10px;
}
@media (min-width: 0px){
    .portfolio .container .con-por{
        display: block;
        background-color: white;
    }
    .portfolio .container .con-por span:last-of-type{
        transform: translateX(50%);
        margin: 20px 0 0 0;
    }
    .portfolio .container .con-por span:first-of-type{
        transform: translateX(50%);
        margin: 0 0 20px 0;
    }
}
@media (min-width: 768px){
    .portfolio .container .con-por{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio .container .con-por span img{
        width: 340px;
    }
    .portfolio .container .con-por span:last-of-type{
        transform: translateX(50%);
        margin: 40px 0 0 0;
    }
    .portfolio .container .con-por span:first-of-type{
        transform: translateX(0%);
        margin: 0 0 40px 0;
    }
    .portfolio .container .con-por span:nth-of-type(2){
        transform: translateX(0%);
        margin: 0 0 0 40px;
    }
}
@media (min-width: 990px){
    .portfolio .container .con-por span:last-of-type{
        transform: translateX(85%);
        margin: 40px 130px 0 0;
    }
    .portfolio .container .con-por span:first-of-type{
        transform: translateX(0%);
        margin: 0 130px 0 0;
    }
    .portfolio .container .con-por span:nth-of-type(2){
        transform: translateX(0%);
        margin: 0 0 0 130px;
    }
}
@media (min-width: 1200px){
    .portfolio .container .con-por{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .portfolio .container .con-por span img{
        width: 340px;
    }
    .portfolio .container .con-por span:last-of-type{
        transform: translateX(0%);
        margin: 0 0 0 40px;
    }
    .portfolio .container .con-por span:first-of-type{
        transform: translateX(0%);
        margin: 0 40px 0 0;
    }
    .portfolio .container .con-por span:nth-of-type(2){
        transform: translateX(0%);
        margin: 0 0 0 20px;
    }
}
/*End portfolio*/

/*Start about*/
.about .container .ab-con{
    margin-top: 60px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.about .container .ab-con .image{
    position: relative;
}
.about .container .ab-con .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 300px;
    background-color: transparent;
    border-bottom: 80px solid #10cab7;
    border-left: 82px solid #10cab7;
    top: -20px;
    right: -130px;
    z-index: -1;
}
.about .container .ab-con .image::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 400px;
    background-color: #ebeceb;
    left: -40px;
    z-index: -1;
    top: -30px;
}
.about .container .ab-con .text{
    position: absolute;
    left: 500px;
    top: 40px;
    line-height: 1.6;
}
.about .container .ab-con .text hr{
    width: 50%;
    height: 1px;
    display: inline-block;
    background-color: #10cab7;
}
.about .container .ab-con .image img{
    width: 340px;
}
@media (min-width: 0px){
    .about .container .ab-con .image::after,
    .about .container .ab-con .image::before{
        display: none;
    }
    .about .container .ab-con .text{
        display: block;
        position: static;
        text-align: center;
    }
    .about .container .ab-con .image{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}
@media (min-width: 990px){
    .about .container .ab-con .image::after,
    .about .container .ab-con .image::before{
        display: block;
    }
    .about .container .ab-con .text{
        display: block;
        position: absolute;
        left: 500px;
        top: -10px;
        text-align: left;
    }
    .about .container .ab-con .image{
        position: relative;
        left: 0%;
        transform: translateX(0%);
        margin-bottom: 0;
    }
}
@media (min-width: 1200px){
    .about .container .ab-con .image::after,
    .about .container .ab-con .image::before{
        display: block;
    }
    .about .container .ab-con .text{
        display: block;
        position: absolute;
        left: 500px;
        top: 40px;
        text-align: left;
    }
    .about .container .ab-con .image{
        position: relative;
        left: 0%;
        transform: translateX(0%);
        margin-bottom: 0;
    }
}
/*End about*/

/*Start contact*/
.contact{
    background-color: #f6f6f6;
    margin-top: 80px;
}
.contact .container .text{
    text-align: center;
    margin-top: 60px;
}
.contact .container .text h2{
    font-size: 30px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
}
.contact .container .text a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #10cab7;
}
.contact .container .text .icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    left: -25px;
}
.contact .container .text .icon i{
    position: absolute;
    color: #2c4755;
}
.contact .container .text .icon i:first-of-type{
    right: 440px;
    top: 17px;
}
.contact .container .text .icon i:nth-of-type(2){
    right: 425px;
    top: 17px;
}
.contact .container .text .icon i:last-of-type{
    right: 405px;
    top: 17px;
}
/*End contact*/

/*Start footer*/
.footer{
    margin-top: 60px;
    background-color: #2c4755;
    padding: 30px 0;
}
.footer .container{
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer .container span{
    color: #10cab7;
    font-weight: 800;
}
/*End footer*/